.button-connection{
    transition-duration: 400ms;
    border: 0.5px solid #e8e8e8;
    padding: 10px;
    color: blue;
    text-decoration: none;
    font-size: 30px;
    size: 150px;
    margin: 5px;
}
.button-connection:hover{
    transition-duration: 400ms;
    color: white;
    background-color: blue;
}

.button-form{
    transition-duration: 400ms;
    border: 1px solid #e8e8e8;
    background-color: white;
    padding: 10px;
    color: blue;
    margin: 5px;
    font-size: 20px;
}
.button-form:hover{
    color: white;
    border-radius: 6px;
    background-color: blue;
    border: 1px white solid;
}

.button-common{
    transition-duration: 400ms;
    border: 1px solid #e8e8e8;
    background-color: white;
    color: blue;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
}
.button-common:hover{
    transition-duration: 400ms;
    border: 1px solid #e8e8e8;
    background-color: blue;
    color: white;
}
.button-yes{
    color: blue;
    background-color: white;
    border: 1px solid #e8e8e8;
    transition-duration: 400ms;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
}
.button-yes:hover{
    transition-duration: 400ms;
    color: white;
    background-color: green;

}
.button-no{
    color: blue;
    background-color: white;
    border: 1px solid #e8e8e8;
    transition-duration: 400ms;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
}
.button-no:hover{
    transition-duration: 400ms;
    color: white;
    background-color: red;

}
